body {
    font-family: 'Roboto Mono';
    min-height: 400px, monospace;
    background-image: url(http://conteudo.imguol.com.br/c/noticias/6c/2018/11/13/dolar-dolar-cambio-real-estados-unidos-bolsa-de-valores-mercado-bovespa-ibovespa-b3-1542152549651_v2_1920x1280.jpg);
    background-color: #000000;
    background-size: 230vh;
    background-position: center bottom;
    background-repeat: no-repeat;
}

.container {
    text-align: center;
    padding: 20px;
    height: 100vh;
}

.page-title {
    color: white;
    margin: 5px;
    background: black;
}

.page-subtitle {
    color: white;
    margin-top: 5px;
    background: black;
}

input {
    margin: 12px;
    padding: 6px;
    border-radius: 5px;
}

label {
    color: black;
}

button {
    margin-top: 12px;
    padding: 4px 8px;
    border-radius: 10px;
    background: white;  
}

input {
    margin: 12px;
    padding: 6px;
    border-radius: 5px;
  }
  
  h2 {
    color: white;
    font-size: 30px;
    background: black;
  }